<br>
<br>
<br>
<div class="row">
	<div class="col-lg-12">
		<h3>Anschriften</h3>
	</div>
</div>
<div class="row">
	<div class="col-lg-6">
		<div class="bs-component">
			<div class="panel panel-default">
				<div class="panel-heading">Kundenadresse</div>
				<div class="panel-body well well-sm">
					<!--..............................Eingabe: Vorname, Nachname...............................-->
					<div class="row">
						<div class="col-lg-4">
							<input type="text" class="form-control" id="vornamek">
							<label for="inputDefault">Vorname</label>		
						</div>

						<div class="col-lg-4">
							<input type="text" class="form-control" id="nachnamek">
							<label for="inputDefault">Nachname</label>	
						</div>
					</div>
					<!--..............................Eingabe: Straße, Hausnummer...............................-->
					<div class="row">
						<div class="col-lg-4">
							<input type="text" class="form-control" id="strassek">
							<label for="inputDefault">Straße</label>		
						</div>

						<div class="col-lg-4">
							<input type="text" class="form-control" id="hsnrk">
							<label for="inputDefault">Hs.-Nr.</label>	
						</div>
					</div>
					<!--..............................Eingabe: plz, ort...............................-->
					<div class="row">
						<div class="col-lg-4">
							<input type="text" class="form-control" id="plzk" placeholder="XXXXX">
							<label for="inputDefault">PLZ</label>		
						</div>

						<div class="col-lg-4">
							<input type="text" class="form-control" id="ortk">
							<label for="inputDefault">Ort</label>	
						</div>
					</div>
					<!--..............................Eingabe: telefon, mobil...............................-->
					<div class="row">
						<div class="col-lg-4">
							<input type="text" class="form-control" id="telefonk">
							<label for="inputDefault">Telefonnummer</label>		
						</div>

						<div class="col-lg-4">
							<input type="text" class="form-control" id="mobilk">
							<label for="inputDefault">Mobil</label>	
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-6">
		<div class="bs-component">
			<div class="panel panel-default">
				<div class="panel-heading">Rechnungsadresse</div>

				<div class="panel-body well well-sm">
					<!--..............................Eingabe: Vorname, Nachname...............................-->
					<div class="row">
						<div class="col-lg-4">
							<input type="text" class="form-control" id="vornamer">
							<label for="inputDefault">Vorname</label>		
						</div>

						<div class="col-lg-4">
							<input type="text" class="form-control" id="nachnamer">
							<label for="inputDefault">Nachname</label>	
						</div>
					</div>
					<!--..............................Eingabe: Straße, Hausnummer...............................-->
					<div class="row">
						<div class="col-lg-4">
							<input type="text" class="form-control" id="strasser">
							<label for="inputDefault">Straße</label>		
						</div>

						<div class="col-lg-4">
							<input type="text" class="form-control" id="hsnrr">
							<label for="inputDefault">Hs.-Nr.</label>	
						</div>
					</div>
					<!--..............................Eingabe: plz, ort...............................-->
					<div class="row">
						<div class="col-lg-4">
							<input type="text" class="form-control" id="plzr" placeholder="XXXXX">
							<label for="inputDefault">PLZ</label>		
						</div>

						<div class="col-lg-4">
							<input type="text" class="form-control" id="ortr">
							<label for="inputDefault">Ort</label>	
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--..............................Panel: Auftragsbeschreibung, Hinweistext...............................-->
<div class="row">
	<div class="col-lg-12">
		<h3>Informationen über den Auftrag</h3>
	</div>
</div>
<div class="row">
	<div class="col-lg-6">
		<div class="bs-component">
			<div class="panel panel-default">
				<div class="panel-heading">Auftragsbeschreibung</div>
				<div class="panel-body well well-sm">
					<textarea class="form-control noresize" rows="3" id="auftragsbeschreibung"></textarea>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-6">
		<div class="bs-component">
			<div class="panel panel-default">
				<div class="panel-heading">Hinweis für den Mitarbeiter</div>
				<div class="panel-body well well-sm">
					<textarea class="form-control noresize" rows="3" id="hinweismitarbeiter"></textarea>
				</div>
			</div>
		</div>
	</div>
</div>